body {
  font-family: 'Montserrat', Arial, sans-serif; /* Changed font-family to a more common sans-serif font */
  margin: 0;
  padding: 0;
  background-color: #adccc6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 280px; /* Reduced the width to make it more compact */
  padding: 14px; /* Decreased padding for better space utilization */
  background-color: #adccc6;
}

.header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title {
  font-size: 18px; /* Slightly reduced font size for the title */
  font-weight: bold;
  /* margin-bottom: 15px; Reduced margin for better spacing */
  color: #0e3833;
}

.subtitle {
  font-size: 13px; /* Slightly reduced font size for the title */
  font-weight: bold;
  /* margin-bottom: 15px; Reduced margin for better spacing */
  color: #0e3833;
}

.content {
  border-top: 1px solid #0e3833;
  padding-top: 10px; /* Decreased padding for better space utilization */
}

.input-section {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Reduced margin for better spacing */
}

.input-section label {
  flex: 1;
  margin-right: 5px; /* Reduced margin for better spacing */
  font-weight: bold;
  color: #0e3833;
}

.input-section input,
.input-section select {
  flex: 1; /* Evenly distribute the space */
  padding: 6px; /* Reduced padding for better space utilization */
  border: 1px solid #0e3833;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-section input::placeholder {
  color: #bbb;
}

.input-section input:focus,
.input-section select:focus {
  border-color: #28a745;
}

/* Add hover effect for buttons */
.input-section button:hover {
  background-color: #1a584f;
  transform: scale(1.05); /* Apply scale transformation on hover */
}

#hours {
  margin-left: 5px; /* Reduced margin for better spacing */
  max-width: 50px; /* Slightly reduced max-width for the hours input */
}

#description {
  max-width: 100px;
}

.input-section button {
  padding: 6px; /* Reduced padding for better space utilization */
  background-color: #0e3833;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex: 1; /* Evenly distribute the space */
}

.input-section button:hover {
  background-color: #1a584f;
}

button,
select {
  font-family: Arial, sans-serif;
  font-size: 14px; /* Adjusted font size for consistency */
}

#verifyData {
  font-size: 14px; /* Adjusted font size for consistency */
  color: #0e3833;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 1px solid #0e3833;
  padding-left: 0;
}

#verifyData p {
  margin: 5px 0;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
